@import '../Global/_variables.scss';

.menu-button {
  position: relative;
  display: inline-block;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  border-radius: 0px;
  transition: all 0.2s ease-in-out;  
  cursor: pointer;

  ////////////
  // colors //
  ////////////
  
  &--pixel-outline {
    transition: all 0.2s ease-in-out;  
    position: absolute;
    width: calc(100%);
    height: calc(100%);
    left: 0px;
    top: 0px;
  }
  
  &--light {
    border: solid white 2px;
    color: white;

    .menu-button--pixel-outline {
      border: solid 2px rgb(151, 123, 255);
    }

    &:hover {
      background-color: white;
      border: solid white 2px;
      color: $neutral--dark;

      .menu-button--pixel-outline {
        border: solid 2px rgb(102, 60, 255);
      }
    }
  }

  &--dark {  
    background-color: white;
    border: solid rgb(112, 23, 255) 2px;
    color: rgb(112, 23, 255);

    .menu-button--pixel-outline {
      border: solid 2px rgb(178, 157, 255);
    }

    &:hover {
      background-color: rgb(83, 0, 160);
      color: white;
      border: solid rgb(83, 0, 160) 2px;
      box-shadow: $shadow--level-3;

      .menu-button--pixel-outline {
        border: solid 2px rgb(166, 98, 255);
      }
    }
  }

  &--white {
    background-color: white;
    border: solid white 2px;
    color: $primary;

    .menu-button--pixel-outline {
      border: solid 2px white;
    }


    &:hover {
      background-color: $primary;
      border-color: $primary;
      color: white;
      box-shadow: $shadow--level-3;
    }
  }
  
  &--primary {  
    background-color: $primary;
    border: solid $primary 2px;
    color: white;

    .menu-button--pixel-outline {
      border: solid 2px white;
    }


    &:hover {
      background-color: white;
      border: solid white 2px;
      color: $primary;
      box-shadow: $shadow--level-3;
    }
  }

  &--primary-stroke {  
    background-color: $primary;
    border: solid $primary 2px;
    color: white;

    .menu-button--pixel-outline {
      border: solid 2px $primary--extra-light;
    }

    &:hover {
      background-color: white;
      color: $primary;
      box-shadow: $shadow--level-3;

      .menu-button--pixel-outline {
        border: solid 2px $primary--extra-light-hover;
      }
    }
  }

  &--gc-green {  
    background-color: white;
    border: solid $gamecube--green 2px;
    color: $gamecube--green;

    .menu-button--pixel-outline {
      border: solid 2px $gamecube--green--dark;
    }

    &:hover {
      background-color: $gamecube--green;
      color: white;
      border: solid $gamecube--green 2px;
      box-shadow: $shadow--level-3;

      .menu-button--pixel-outline {
        border: solid 2px $gamecube--green--dark;
      }
    }
  }

  ////////////
  // sizes  //
  ////////////

  padding: 0.5rem .5rem;

  &--small {
    @media (min-width: $viewport-tablet--min) {
      padding: 0.5rem .5rem;
    }    
  }

  &--medium {
    @media (min-width: $viewport-tablet--min) {
      padding: 0.75rem 1rem;
      font-size: 18px;
    }
  }

  &--large {
    @media (min-width: $viewport-tablet--min) {
      padding: 1rem 1.3rem;
      font-size: 18px;
    }
  }


  ////////////
  // icons  //
  ////////////


  svg {
    transform: scale(1.2) translateY(2px) translateX(4px) rotate(90deg);
    transition: transform 0.2s;      
  }
}